# puppeteer_download_host=https://storage.googleapis.com.cnpmjs.org
save-prefix=""
puppeteer_download_host=https://npm.taobao.org/mirrors/
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
phantomjs_cdnurl=https://npm.taobao.org/mirrors/phantomjs/